<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ooftf.director">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name=".entrance.DebugEntranceActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".info.DebugInfoActivity"
            android:launchMode="singleTask"
           />
        <activity android:name=".trace.TraceDetailActivity" />
        <activity android:name=".trace.TraceListActivity" />
    </application>
</manifest>
